body {
  background-image: url("./public/assets/images/bg/1.png");
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 350;
  background-color: #8e8888;
}

.zelullar_img .img-box {
  margin-top: -12px;
}

.zelullar_img:hover .img-box {
  margin-top: -20px;
  transition: all 1s;
}

.other-images:hover .img-box {
  margin-top: -10px;
  transition: all 0.4s;
}

.other-images:hover img {
  filter: brightness(0) contrast(5);
  transform: scale(1.2);
  transition: all 1s;
  cursor: pointer;
  animation-play-state: paused;
}

.zelullar_img:hover img {
  filter: brightness(0) contrast(5);
  transform: scale(1.2);
  transition: all 1s;
  cursor: pointer;
  animation-play-state: paused;
}

.img-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-bottom: 2px solid #24212413;
  border-right: 2px solid #2421241c;
  padding-bottom: 20px;
  cursor: pointer;
}

.scroller {
  width: 100%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll 50s linear infinite;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.scroller[data-animated="true"] .scroller__inner:hover {
  animation-play-state: paused;
}

@media (max-width: 1024px) {
  .scroller[data-animated="true"] .scroller__inner {
    animation-duration: 20s;
  }
}

@media (max-width: 768px) {
  .scroller[data-animated="true"] .scroller__inner {
    animation-duration: 10s;
  }

  .img-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 2px solid #24212413;
    border-right: 2px solid #2421241c;
    padding-bottom: 20px;
    cursor: pointer;
  }

  .img-box {
    display: flex;
    justify-content: center;
  }
}

@keyframes scroll {
  to {
    transform: translate(-100%);
  }
}

.news-box {
  direction: ltr;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-animation {
  animation: rotateCircle 4s linear forwards;
  animation-play-state: paused;
}

@keyframes expandWidth {
  0% {
    width: 200px;
  }
  100% {
    width: 100%;
  }
}

.expand-animation-fast {
  animation: expandWidth 2s ease-in-out forwards;
  animation-play-state: paused;
}

.expand-animation-medium {
  animation: expandWidth 3s ease-in-out forwards;
  animation-play-state: paused;
}

.expand-animation {
  animation: expandWidth 6s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes showAndStay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delayed-animation {
  animation: showAndStay 0.5s ease-in-out 1.3s forwards;
  opacity: 0;
  animation-play-state: paused;
}

.delayed-animation-medium {
  animation: showAndStay 0.5s ease-in-out 1.5s forwards;
  opacity: 0;
  animation-play-state: paused;
}

.delayed-animation-fast {
  animation: showAndStay 0.5s ease-in-out 1.6s forwards;
  opacity: 0;
  animation-play-state: paused;
}
