@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border border-white font-azeretMono text-sm font-medium leading-4 text-white max-w-[224px] flex h-[39px] items-center justify-around mt-6 cursor-pointer;
}

.btn:hover {
  border: 1px solid #fe3402;
}

.hover-div {
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-color 0.5s ease, border-color 1s ease;
  background-color: transparent;
  overflow: hidden;
}

.hover-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fe3402;
  transition: left 1s ease;
}

.hover-div:hover::before {
  left: 0;
}
.set-zIndex {
  z-index: 10000;
}

.arrow-fill-color {
  fill: white;
  z-index: 10000;
}

.group-hover:hover .arrow-fill-color {
  fill: white;
}

.muon-gif {
  mix-blend-mode: darken;
  background-color: transparent;
  z-index: 0 !important;
}

.section-title-text {
  @apply text-sm  leading-[18px] text-whiteText max-w-[320px] mt-5 font-azeretMono;
}

.collapse-title {
  @apply font-dmSans text-base text-white border border-darkText w-[144px] h-12 flex justify-center items-center -mt-[1px] cursor-pointer;
}

.collapse-content {
  @apply border border-darkText -mt-[1px] bg-custom-gradient  overflow-hidden ease-in-out transition-all duration-700;
  mix-blend-mode: overlay;
  background-color: transparent;
}

.left-scroll {
  direction: rtl;
}

.social-media {
  @apply border border-darkText w-full max-w-[48%] lg:w-[160px] h-[34px] flex items-center justify-center cursor-pointer select-none;
}

.feature-items {
  @apply font-azeretMono leading-4 flex items-center border-t border-white w-full mt-0 lg:mt-40;
}

.features-box {
  @apply flex flex-col lg:flex-row items-center w-full mt-20 lg:mt-0;
}

.features-title {
  @apply text-[10px] lg:text-base;
}

.padding-between-section {
  @apply pb-[120px] sm:pb-[200px];
}

.feature-items-description {
  @apply pt-[10px] lg:pt-[40px] text-sm lg:text-base font-normal w-full max-w-[440px];
}
