@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: normal;
  src: url("DMSans/DMSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 500;
  src: url("DMSans/DMSans-Medium.ttf") format("truetype");
  font-display: swap;
}
