@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: normal;
  src: url("Dosis/Dosis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 500;
  src: url("Dosis/Dosis-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  src: url("Dosis/Dosis-Bold.ttf") format("truetype");
}
